OPENAI_API_KEY="Paste your openAI api key here"
LANGCHAIN_API_KEY="Paste your langchain api key here"
HF_API_KEY="Paste your HUGGINGFACE api key here"
LANGCHAIN_PROJECT="Give the Langchain project name"